<div class="row">
  <div class="col-xs-12">
    <form ngForm (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            ngModel
            name="name"
            required
            #name="ngModel"
          />
          <span
            *ngIf="name.invalid && name.touched"
            class="help-block"
            >Name is required</span
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            min="0"
            class="form-control"
            ngModel
            name="amount"
            #amount="ngModel"
            required
            pattern="^[1-9]+[0-9]*$"
          />
          <span
            *ngIf="amount.invalid && amount.touched"
            class="help-block"
            >Amount is required</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="f.invalid" class="btn btn-success" type="submit">{{isEditMode ? 'Edit': 'Add'}}</button>
          <button *ngIf="isEditMode" [disabled]="name.invalid" class="btn btn-danger ml-3" type="button" (click)="onDelete(name)">Delete</button>
          <button class="btn btn-primary ml-3" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
